<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GymDB1ConnectionString"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=GymDB1;Trusted_Connection=True;"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
